@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box; }

nav {
  padding: 10px; }
  nav a {
    font-size: 2rem; }
  nav .collapse {
    list-style-type: none;
    justify-content: space-evenly; }

header {
  font-family: "Dancing Script", cursive;
  background: pink;
  font-size: 50%; }

h1 {
  display: flex;
  justify-content: center; }

a {
  display: flex;
  justify-content: center; }

img {
  width: 150px;
  animation-name: animateLogo;
  animation-iteration-count: initial;
  animation-duration: 1s; }

@media only screen and (min-width: 990px) {
  img {
    width: 150px;
    animation-name: animateLogo;
    animation-iteration-count: initial;
    animation-duration: 1s; }
  .nav-item {
    background: linear-gradient(to top, pink, lightblue);
    border: solid 5px linear-gradient(to top, pink, lightblue);
    border-radius: 5px; }
  .nav-item:hover {
    background: lightblue;
    text-decoration-color: pink;
    border: solid 5px lightblue;
    border-radius: 5px; }
  .botones {
    display: flex;
    flex-direction: row; } }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background: linear-gradient(to top, lightblue, pink) no-repeat; }
  main .present {
    display: flex;
    flex-direction: column; }
  main a {
    padding-top: 5px;
    display: flex;
    justify-content: center; }
  main .present__mainPick {
    width: 85%; }
  main .inputButton {
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%; }
  main .error__img {
    width: 400px; }
  @media only screen and (min-width: 990px) {
    main .historia__babyPick {
      width: 50%; } }
  main .historia__babyPick {
    display: flex;
    width: 70%; }
  main .enter__box {
    display: flex;
    flex-direction: column; }
  main .show__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  main form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top, lightblue, pink) no-repeat; }
  main fieldset {
    display: flex;
    flex-direction: column;
    align-items: center; }

footer {
  background-color: lightblue; }
  footer .MP {
    width: 200px; }
  footer .redesLogo {
    width: 70px; }
  footer .mail {
    display: flex;
    font-size: 80%; }
  footer a {
    text-decoration: none; }

html {
  height: 100%; }

body {
  height: 100%;
  background: lightblue; }
