footer{
    background-color: lightblue;
    .MP{
        width: 200px;
    }
    .redesLogo{
        width: 70px;
    }

    .mail{
        display: flex;
        font-size: 80%;
    }
    a{
        text-decoration: none;
    }
}