main{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background:  linear-gradient(to top, lightblue, pink) no-repeat;
    .present{
        display: flex;
       
        flex-direction: column;
    }
    a{
        padding-top: 5px;
        display: flex;
        justify-content: center
        
        
    }
    .present__mainPick{
        width: ($width - 15);
    }
@media only screen and (min-width: 990px){
    .historia__babyPick{
        width: ($width - 50);
    }
}
    .historia__babyPick{
       display: flex;
        width: ($width - 30);
    }
    .enter__box{
      
        display: flex;
        flex-direction: column;
    }
    .show__post{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: ($width);
        
    }

    form{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(to top, lightblue, pink) no-repeat;
    }
    fieldset{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
   
}
